<ul>
	<li><a href="mailto:andrej.hoferica@gmail.com" title="E-mail"><i class="fas fa-at fa-2x"></i></a></li>
    <li><a href="https://www.facebook.com/andrej.hoferica/" target="_blank" title="Facebook"><i class="fab fa-facebook-f fa-2x"></i></a></li>
	<li><a href="https://www.instagram.com/_aduliss_/" target="_blank" title="Instagram"><i class="fab fa-instagram fa-2x"></i></a></li>
	<!--li><a href="https://www.youtube.com/user/WhitePrinceSK" target="_blank" title="Youtube"><i class="fab fa-youtube fa-2x"></i></a></li-->
	<li><a href="https://github.com/andrew141" target="_blank" title="GitHub"><i class="fab fa-github fa-2x"></i></a></li>
	<li><a href="https://stackoverflow.com/users/10140957/marlon23" target="_blank"	title="Stack Overflow"><i class="fab fa-stack-overflow fa-2x"></i></a></li>
	<li><a href="https://pin.it/6sxldxtsvk7ijj" target="_blank" title="Pinterest"><i class="fab fa-pinterest fa-2x"></i></a></li>
	<!--li><a href="https://www.snapchat.com/add/adulis10" target="_blank" title="Snapchat"><i class="fab fa-snapchat-ghost fa-2x"></i></a></li-->
</ul>